{%extends "blog/base.html"%}
{%block content%}


<div class="row">
<div class="left-align">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{object.author.profile.image.url}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                <h3 class="flow-text">{{object.title}}</h3><p class="flow-text truncate">{{object.content}}</p><br>


                <small class="right-align">- by <a href="#">{{ object.author }}, {{ object.date_posted|date:"F d, Y, D "}} </a></small>

              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

{%endblock%}