
{%extends "blog/base.html"%}
{%block content%}
  {% if form.errors %}
<h3 class="flow-text"> Reset Password</h3>
{% endif %}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
       {{ field.label_tag }}{{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
   <button class="btn btn-outline-info" type="submit">Reset Password</button>
  </form>
{%endblock%}

