
{%extends "blog/base.html"%}
{%block content%}





    <div class="col s8">


      <div class="card">
        <div class="card-image">
          <img src="{{user.profile.image.url}}">
          <span class="card-title"></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" onclick=""><i class="material-icons">settings</i></a>


        </div>
        <div class="card-content">
          <h3 class="flow-text">{{user.username}}</h3>
        </div>
      </div>


     


    <form id="staggered-test" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in u_form %}
          <p>
            <p class="flow-text">{{ field.label_tag }}</p>
            {{ field }}
            {% if field.help_text %}
              <small class="black-text">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        {% for field in p_form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button class="btn green lighten-2 btn-outline-info" type="submit">Update<i class="material-icons right">send</i></button>
  </form>
    

     

    {%for post in user.post_set.all%}
  <ul class=" centre-align">
    <li ><div class="teal lighten-4 hoverable z-depth-3 hoverable flow-text">
      <h>{{blog.title}}</h>
      <a>{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"F d, Y, D "}}</small>
    <h2 class="truncated"><a class="article-title" href="#">{{ post.title }}</a></h2>
    <p class="article-content flow-text">{{ post.content }}</p>
  </div></li>
</ul>
  {%endfor%}


</div>
{%endblock%}





